@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>


    /**/
    <h3>Customer Info</h3>
    <form method="post" asp-controller="customer" asp-action="Add">
        <table cellpadding="2" cellspacing="2">
            <tr>
                <td>Id</td>
                <td>
                    <input type="text" name="Id" />
                </td>
            </tr>
            <tr>
                <td>First name</td>
                <td>
                    <input type="text" name="Fname" />
                </td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>
                    <input type="text" name="Lname" />
                </td>
            </tr>
            <tr>
                <td>Address</td>
                <td>
                    <input type="text" name="Address" />
                </td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>
                    <input type="text" name="Phone" />
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Save" />
                </td>
            </tr>
        </table>
    </form>
 
</body>
</html>
