@{
    Layout = null;
}

@model webproject.Models.Product

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <h3>Product Info</h3>
    <form method="post" asp-controller="product" asp-action="Edit">
        <table cellpadding="2" cellspacing="2">
            <tr>
                <td>Id</td>
                <td>
                    <input type="text" name="Id" />
                </td>
            </tr>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" name="Name" />
                </td>
            </tr>
            <tr>
                <td>Price</td>
                <td>
                    <input type="text" name="Price" />
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <td>
                    <input type="text" name="Description" />
                </td>
            </tr>
            <tr>
                <td>Creation Date</td>
                <td>
                    <input type="datetime" name="CreationDate" />
                </td>
            </tr>
            <tr>
                <td>Expired Date</td>
                <td>
                    <input type="datetime" name="ExpiredDate" />
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Save" />
                </td>
            </tr>
        </table>
    </form>
    <table>
        <tr>
            <td>
                <table>
                    <th>Customers:</th>
                    <tr>
                        <td>
                            <a href="~/Customer/add">Add Items</a> |
                            <a href="~/Customer/delete">Delete Items</a> |
                            <a href="~/Customer/edit">Update Items</a> |
                            <a href="~/Customer/search">Search Items</a> |
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <th>Orders:</th>
                    <tr>
                        <td>
                            <a href="~/Order/add">Add Items</a> |
                            <a href="~/Order/delete">Delete Items</a> |
                            <a href="~/Order/edit">Update Items</a> |
                            <a href="~/Order/search">Search Items</a> |
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <th>Products:</th>
                    <tr>
                        <td>
                            <a href="~/Product/add">Add Items</a> |
                            <a href="~/Product/delete">Delete Items</a> |
                            <a href="~/Product/edit">Update Items</a> |
                            <a href="~/Product/search">Search Items</a> |
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>